header {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;
    color: var(--green3);
}

@media (max-width: 872px) {
    header h1 {
        font-size: 36px;
        text-align: center;
    }
}