main {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 34px;
    margin: 0 auto;
    max-height: 326px;
    max-width: 872px + 117px + 34px;
    margin: 0 auto 153px auto;
}

.card {
    width:  117px;
    height: 146px;
    background-color: var(--green2);
    display: flex;
    align-items: center;
    padding: 0 7px 0 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.card img {
    width: 100px;
    height: 100px;
}