main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 34px;
    margin: 0 auto;
    max-width: 872px ;
    margin: 0 auto 153px auto;
}

@media (max-width: 872px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card-wrapper {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    width:  117px;
    height: 146px;
    background-color: var(--green2);
    border-radius: 5px;
    perspective: 1000px;
}

.card-wrapper.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
   
}

.face-front, .face-back{
    display: flex;
    align-items: center;
}

.card-wrapper img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.face-back {
    transform: rotateY(180deg);
}